'.source.js.jsx':
  'React Component Class':
    'prefix': 'rc'
    'body': """
        import React, { PropTypes, Component } from 'react';

        export default class ${1:MyComponent} extends Component {

            static propTypes = {
                ${2}
            };

            constructor(props) {
                super(props);
                this.state = {};
            }

            render() {
                return (
                    ${3:<div></div>}
                );
            }

        }
    """
  'React Functional Component':
    'prefix': 'rfn'
    'body': """
        import React, { PropTypes } from 'react';

        export default function ${1}(props) {
            return (
                ${2:<div>MyComponent</div>}
            );
        }

        ${1}.propTypes = {
        };
    """

  'React PropType componentWillMount':
    'prefix': 'cwm',
    'body': """
      componentWillMount() {
          ${1}
      }
    """

  'React PropType componentDidMount':
    'prefix': 'cdm',
    'body': """
      componentDidMount() {
          ${1}
      }
    """

  'React PropType shouldComponentUpdate':
    'prefix': 'scu',
    'body': """
      shouldComponentUpdate(nextProps, nextState) {
          ${1}
      }
    """

  'React PropType componentWillReceiveProps':
    'prefix': 'cwrp',
    'body': """
      componentWillReceiveProps(nextProps) {
          ${1}
      }
    """

  'React PropType componentWillUpdate':
    'prefix': 'cwu',
    'body': """
      componentWillUpdate(nextProps, nextState) {
          ${1}
      }
    """

  'React PropType componentDidUpdate':
    'prefix': 'cdu',
    'body': """
      componentDidUpdate(prevProps, prevState) {
          ${1}
      }
    """

  'React PropType componentWillUnmount':
    'prefix': 'cwun',
    'body': """
      componentWillUnmount() {
          ${1}
      }
    """

  # PropType string
  'React PropType string':
    'prefix': 'pts',
    'body': "PropTypes.string,"
  'React PropType string required':
    'prefix': 'ptS',
    'body': "PropTypes.string.isRequired,"

  # PropType number
  'React PropType number':
    'prefix': 'ptn',
    'body': "PropTypes.number,"
  'React PropType number required':
    'prefix': 'ptN',
    'body': "PropTypes.number.isRequired,"

  # PropType object
  'React PropType object':
    'prefix': 'pto',
    'body': "PropTypes.object,"
  'React PropType object required':
    'prefix': 'ptO',
    'body': "PropTypes.object.isRequired,"

  # PropType array
  'React PropType array':
    'prefix': 'pta',
    'body': "PropTypes.array,"
  'React PropType array required':
    'prefix': 'ptA',
    'body': "PropTypes.array.isRequired,"

  # PropType any
  'React PropType any':
    'prefix': 'ptany',
    'body': "PropTypes.any,"
  'React PropType any required':
    'prefix': 'ptAny',
    'body': "PropTypes.any.isRequired,"

  # PropType bool
  'React PropType bool':
    'prefix': 'ptb',
    'body': "PropTypes.bool,"
  'React PropType bool required':
    'prefix': 'ptB',
    'body': "PropTypes.bool.isRequired,"

  # PropType element
  'React PropType element':
    'prefix': 'pte',
    'body': "PropTypes.element,"
  'React PropType element required':
    'prefix': 'ptE',
    'body': "PropTypes.element.isRequired,"

  # PropType function
  'React PropType function':
    'prefix': 'ptf',
    'body': "PropTypes.func,"
  'React PropType function required':
    'prefix': 'ptF',
    'body': "PropTypes.func.isRequired,"

  # PropType shape
  'React PropType shape':
    'prefix': 'ptsh',
    'body': """
      PropTypes.shape({
        ${2}
      }),
    """
  'React PropType shape required':
    'prefix': 'ptSh',
    'body': """
      PropTypes.shape({
          ${1}
      }).isRequired,
    """

  # PropType oneOf
  'React PropType oneOf':
    'prefix': 'ptoo',
    'body': """
      PropTypes.oneOf([
        ${1}
      ]),
    """
  'React PropType oneOf required':
    'prefix': 'ptOo',
    'body': """
      PropTypes.oneOf([
          ${1}
      ]).isRequired,
    """

  # PropType oneOfType
  'React PropType oneOfType':
    'prefix': 'ptoot',
    'body': """
      PropTypes.oneOfType([
          ${1}
      ]),
    """
  'React PropType oneOfType required':
    'prefix': 'ptOot',
    'body': """
      PropTypes.oneOfType([
          ${1}
      ]).isRequired,"
    """

  # PropType node
  'React PropType node':
    'prefix': 'ptnode',
    'body': "PropTypes.node,"
  'React PropType node required':
    'prefix': 'ptNode',
    'body': "PropTypes.node.isRequired,"
